body{
    margin:0;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#616D8A;
    padding: 1rem;
}
.logo{color: #fff;
}
 
.menu{
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    bottom: 200px;
}
.menu a{
    color: white;
    padding: 1em;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

@media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
}