/* h1{
    color: purple;
}

h2{
    color:blue;
}
p{
    color:brown;
    font-size: 25px;
    margin-left: 10px;
    text-align: left;
}
#abc{
    margin-left: 150px;
}
.par{
    color:red;
}
#jk{
    background-color: pink;
    color:red;
    text-align:center;
    font-size:30px;
}
div{
    height: 150px;
    width: 1500px;
    background-color: white;
    text-align: center;
    align-content:center;
    border: 5px solid black;
} */
.container{
    display: flex;
    height: 600px;
    width: 1500px;
    border: 1px solid black;
    background-color: aqua;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    /* justify-content: space-between;  */
    align-items: stretch;
    align-content: start;
    gap: 10px;
}
.item{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: gray;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.item2{
    order: -1;
    align-self: flex-end;
}