h1{
    color: purple;
}

h2{
    color:blue;
}
p{
    color:brown;
    font-size: 25px;
    margin-left: 10px;
    text-align: left;
}
#abc{
    margin-left: 150px;
}
.par{
    color:red;
}
#jk{
    background-color: pink;
    color:red;
    text-align:center;
    font-size:30px;
}
div{
    height: 150px;
    width: 1500px;
    background-color: white;
    text-align: center;
    align-content:center;
    border: 5px solid black;
}